{% extends 'SPL/padre.html' %}

{% load static %}

{% block titulo %}

    <h1 class="fw-bolder">¡Bienvenid@ a mi página!</h1>
    <p class="lead">Acá vas a poder ver información sobre series, pelis y libros :)</p>

{% endblock %}

{% block sobreLaPagina %}


    <h2>¿Qué es Cavern?</h2>
    <p class="lead">Cavern es una página para todo aquel que disfrute ver pelis o series, ¡e incluso leer! Vas a poder:</p>
    <ul>
      <li>Descubrir nuevas películas, series o libros.</li>
      <li>Ver toda la información necesaria sobre ellas</li>
      <li>¡Y hasta vas a poder agregar tus favoritas!</li>

{% endblock %}

