{% extends 'SPL/padre.html' %}

{% load static %}

{% block titulo %}

    <h1 class="fw-bolder">Películas</h1>
    <p class="lead">Abajo podés ver las pelis publicadas en la página.</p>
    <a class="btn btn-lg btn-light" href="{% url 'busquedaPeli' %}">Buscar películas</a>

{% endblock %}

{% block sobreLaPagina %}

    <a class="btn btn-lg btn-warning" href="{% url 'agregar_peli' %}">Agregá tu peli favorita</a>

    {% for peli in todas_pelis %}

        <p><li><strong>{{peli.nombre}}</strong>. Género: {{peli.genero}}. Director: {{peli.director}}. {{peli.año}}</li>
            <a href="{% url 'infoseries' %}">Ver más</a>
        <p>
        <a href="{% url 'eliminarpeli' peli.nombre %}">Eliminar película</a>
        <a href="{% url 'editar peli' peli.nombre %}">Editar película</a>
        
        </p> </p>

    {% endfor %}

{% endblock %}